.articles{
    background-color: #f6f6f6 !important;
    flex-direction: column;
    gap: 16px;
    padding: 32px;
    width: 60%;
    border-radius: 10px;
}

.model_name{
    width: 60%;
    margin-bottom: 16px;
    margin-top: 36px;
}

.model_name h1{
    font-size: 32px;
    font-weight: 700;
    margin: 0;
}

.model-img{
    width: 300px;
    height: 200px;
    object-fit: cover;
    border-radius: 20px;
}

.model-cont{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    justify-self: end;
    gap: 64px;
}

.timt{
    font-size: 26px !important;
}

.tid{
    font-size: 14px !important;
    font-weight: 500;
    opacity: 0.7;
}

br{
    color: black;
    background-color: black;
}