{%load static%}
<div class="latest-item">
  <img class="latest-main-img" src="{{post.main_image}}" alt=""> 
  <div class="latest-author">
    {% if post.AuthorImg %}
    <img class="latest-author-img" src="{{post.AuthorImg.url}}" alt="">
{% endif %}      
      <p>{{post.author}}</p>
      <span>•</span>
      <p>{{post.date}}</p>
  </div>
  <div class="latest-item-texts">
      <a href="{{post.urlToPost}}"><h6>{{post.title}}</h6></a>
      <p>{{post.excerpt}}</p>
  </div>
  <div class="latest-category">
      <p class="red">{{post.category}}</p>
      <span>•</span>
      <p class="lcp">{{post.timeToRead}} min to read</p>
  </div>
</div>