{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>News</title>
    <link rel="stylesheet" href="{%static 'app_news/main.css'%}">
    <link rel="stylesheet" href="{%static 'app_news/css/bootstrap.css'%}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap" rel="stylesheet">

</head>
<body>
    <!--Navbar-->
    <div class="container">
        <header class="blog-header py-3">
            <div class="row flex-nowrap justify-content-between align-items-center">
              <div class="col-4 pt-1">
                <a class="text-muted" href="#">Subscribe</a>
              </div>
              <div class="col-4 text-center">
                <a class="blog-header-logo text-dark" href="#">Buletin</a>
              </div>
              <div class="col-4 d-flex justify-content-end align-items-center">
                <a class="text-muted" href="#">
                  <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="mx-3"><circle cx="10.5" cy="10.5" r="7.5"></circle><line x1="21" y1="21" x2="15.8" y2="15.8"></line></svg>
                </a>
              </div>
            </div>
        </header>
    </div>
    
    <!--Bottom Nav-->
    <div class="container-sm bottom-nav">
        <p class="wtb">
            Welcome to Buletin
        </p>
        <p class="tb">Craft naratives&#9997;that ignite <span class="red">inspiration</span>&#128161;,
            <span class="red">knowledge</span>&#128213;,and <span class="red">entertainment</span>&#127916;.
        </p>
    </div>

    <!--Trending-->
    <div class="container-sm trending-cont">
        <img class="trending-img" src="{{posts.main_image}}" alt="">
        <div class="trending-info">
            <div class="author-minute">
                <img class="trending-user-img" src="{%static 'app_news/img/treding-user-logo.jpg'%}" alt="">
                <p class="trend-user-name">{{posts.author}}</p>
                <span>•</span>
                <p class="trend-minuteago">{{posts.date}}</p> 
            </div>
            <a class="timt-link" href="{{posts.urlToPost}}"><h1 class="timt">{{posts.title}}</h1></a> 
            <p class="tid">{{posts.excerpt}}</p>
            <div class="category-time">
                <p class="category">{{posts.category}}</p>  <!-- // TODO: Change to category dynamically  -->
                <span>•</span>
                <p class="timeToRead">{{posts.timeToRead}} min read</p> <!-- // TODO: Change to time dynamically -->
            </div>
        </div>
    </div>

    <!--Latest News-->
    <section class="latest-news">
        <div class="container latest-news">
            <div class="latest-top">
                <h1 class="latest-text">Latest News</h1>
                <a class="latest-see-all" href="">See all &rarr;</a>
            </div>
            <div class="latest-main">
                <!-- //TODO latest item will be apart from main.html and will be dynamic from database-->
                {% for post in latest  %}
                {% include 'app_news/includes/post.html' %}
                {% endfor %}
               
            </div>
        </div>
    </section>

    <!--Top Creators-->
    <section class="top-creators">
        <div class="container">
            <h1 class="latest-text">Top Creators</h1>
            <div class="creators">

                {% for author in sorted_authors  %}
                <div class="creator-item">
                    <img src="{%static 'app_news/img/creator-img.jpg'%}" alt="">
                    <div class="creator-texts">
                        <a href=""><h4>{{author}}</h4></a>
                        <p>BBC News</p>
                    </div>
                </div>
                {% endfor %}
            
            </div>
        </div>

    </section>

    <!--Business Sport-->
    <section class="must-read">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="b-top">
                        <h1>Business</h1>
                        <a class="red" href="">➞</a>
                    </div>

                    <div class="b-bot">

                        {% for post in business %}
                        {% include 'app_news/includes/post.html' %}
                        {% endfor %}
                    
                    

                    </div>
    

                </div>
                <div class="col">
                    <div class="b-top">
                        <h1>Sport</h1> 
                        <a class="red" href="">➞</a>
                    </div>

                    <div class="b-bot">
                       
                        
                        {% for post in sport %}
                        {% include 'app_news/includes/post.html' %}
                        {% endfor %}
                    </div>
    
                </div>
            </div>
        </div>
    </section>

    <footer>
        <div class="container">
            <footer class="py-5">
              <div class="row">
                <div class="col-6 col-md-2 mb-3">
                  <h5>Section</h5>
                  <ul class="nav flex-column">
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Home</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Features</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Pricing</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">FAQs</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">About</a></li>
                  </ul>
                </div>
          
                <div class="col-6 col-md-2 mb-3">
                  <h5>Section</h5>
                  <ul class="nav flex-column">
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Home</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Features</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Pricing</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">FAQs</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">About</a></li>
                  </ul>
                </div>
          
                <div class="col-6 col-md-2 mb-3">
                  <h5>Section</h5>
                  <ul class="nav flex-column">
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Home</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Features</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Pricing</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">FAQs</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">About</a></li>
                  </ul>
                </div>
          
                <div class="col-md-5 offset-md-1 mb-3">
                  <form>
                    <h5>Subscribe to our newsletter</h5>
                    <p>Monthly digest of what's new and exciting from us.</p>
                    <div class="d-flex flex-column flex-sm-row w-100 gap-2">
                      <label for="newsletter1" class="visually-hidden">Email address</label>
                      <input id="newsletter1" type="text" class="form-control" placeholder="Email address"> <!--//TODO Post Get Email-->
                      <button class="btn btn-danger subs" type="button">Subscribe</button>
                    </div>
                  </form>
                </div>
              </div>
          
              <div class="d-flex flex-column flex-sm-row justify-content-between py-4 my-4 border-top">
                <p>© 2022 Company, Inc. All rights reserved.</p>
                <ul class="list-unstyled d-flex">
                  <li class="ms-3"><a class="link-dark" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#twitter"></use></svg></a></li>
                  <li class="ms-3"><a class="link-dark" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#instagram"></use></svg></a></li>
                  <li class="ms-3"><a class="link-dark" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#facebook"></use></svg></a></li>
                </ul>
              </div>
            </footer>
          </div>
    </footer>
    
    <script src="{%static 'app_news/js/bootstrap.js'%}"></script>
</body>
</html>